:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "PT Sans", sans-serif;
    --third-family: "Potta One", sans-serif;
    --font3: "Baloo Da 2", sans-serif;
}

#nav ul li a {
    text-transform: uppercase;
    padding: 18px 20px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 200%;
    color: #353535;
    position: relative;
    display: inline-block;
}

#nav ul li a::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: #353535;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

#nav ul li a:hover::before {
    visibility: visible;
    width: 100%;
    transition: 0.8s ease;
}


#nav {
    padding: 0;
}

.offcanvas-header .image {
    margin-left: 30%;
}


/*-------- banner section start ----------*/

#banner {
    padding-bottom: 20px;
}

#banner .waving {
    color: #FFD233;
    display: inline-block;
    margin-top: 5px;
}

#banner p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 190%;
    color: #353535;
}

#banner .intro {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #353535;
}

#banner .img {
    margin-top: 60px;
}



#banner h4 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 64px;
    color: #353535;
}



#banner .banner-link a:last-child {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    color: #353535;
    text-decoration: none;
    outline: 1px solid #000;
    border-radius: 20px;
    padding: 16px 18px;
    display: inline-flex;
    margin-left: 40px;
}

#banner .banner-link a:last-child:hover {
    background: lightgoldenrodyellow;
    color: #000;
    outline: 2px solid #fc0;
}



#banner .banner-link .talk {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 180%;
    padding: 16px 45px;
    display: inline-flex;
    color: #fff;
    border-radius: 20px;
    background: #fc0;

}

#banner .banner-link .talk:hover {
    background: transparent;
    color: #000;
    outline: 2px solid #fc0;
}



#banner .banner-link {
    margin-top: 40px;
}

#banner .banner-link span {

    display: inline-flex;
    align-items: center;
    line-height: 0;
}

#banner .follow {
    display: flex;
    align-items: center;
    margin-top: 40px;

}

#banner .follow p {
    margin-bottom: 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    color: #353535;
}

#banner .follow .icons {

    display: flex;
    align-items: center;


}

#banner .follow .icons a {
    display: inline-flex;
    align-items: center;
    line-height: 0;
    background-color: #F4F3F3;
    padding: 10px;
    margin: 0 10px;
    border-radius: 50%;
    color: black;
    transition: 0.7s;
}

#banner .follow .icons a:hover {
    transform: rotate(90deg);

}

#banner {
    position: relative;
}

#banner .mouse {
    position: absolute;
    bottom: 0;
    left: 45%;

}

#banner .mouse:hover {
    transform: rotate(360deg);
    transition: 1s;
}


/*-------- bannner section end ----------*/

#about {

    margin: 50px 0;
    background: linear-gradient(to right, #FED62A, #FBF8B1);

}

#about .img img 
{
    transform: scaleX(-1)
}



#about .contains h4 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    color: #353535;
    margin-bottom: 26px;
}

#about .contains a {
    outline: 1px solid #000;
    border-radius: 20px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #353535;
    padding: 17px 44px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 30px;
}

#about .contains a:hover {
    background: #fff;
    outline: 1px solid black;


}

#about .contains p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 190%;
    color: #353535;
    margin-bottom: 45px;
    width: 90%;
    text-align: justify;
}

#about .container {
    position: relative;
}

#about .shape {
    position: absolute;
    bottom: 0;
    right: 0;
}

/*-------- cards css ----------*/
#cards {
    padding: 20px 0 50px 0;
}

#cards .card-box {
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    text-align: center;
    width: calc(33.33% - 32px);
    margin: 16px;
    padding: 47px;
    cursor: pointer;
    border-radius: 20px;
}

/* #cards .card-box {
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    text-align: center;
    width: calc(33.33% - 32px);
    margin: 16px;
    padding: 47px;
    cursor: pointer;
  } */

#cards .card-box h4 {
    margin: 18px 0 14px 0;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 180%;
    text-align: center;
    color: #353535;

}

/* 
#cards .card-box img 
{
    margin-top: 20px;
}  */


#cards .card-box img:hover {
    transform: scale(1.2);
}

#cards .card-box p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    text-align: center;
    color: #7a7a7a;

}


/*-------- cards css ----------*/


/*-------- branding css ----------*/

#branding {
    margin: 40px 0;
}

#branding .image {
    padding-top: 15px;
}


#branding .container {
    background: linear-gradient(130deg, #fc0 0%, #fff5cb 100%);
    border-radius: 30px;

}

#branding .contains {
    margin-top: 20px;
    position: relative;

}


#branding .contains h4 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 44px;
    color: #353535;
}

#branding .contains p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 190%;
    color: #353535;
    width: 95%;


    margin: 21px 0 35px 0;
}

#branding .contains a {
    outline: 1px solid #000;
    border-radius: 20px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 180%;
    text-align: center;
    color: #353535;
    padding: 18px 38px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 30px;
}

#branding .contains a:hover {
    background: #fff;
    outline: 1px solid black;
    color: #FF8D3A;

}

#branding .vector {
    position: absolute;
    bottom: 50px;
    left: 210px;
}

#branding .shape {
    position: absolute;
    top: -130px;
    right: 60px;
    display: inline-block;
}


/*-------- branding css ----------*/

/*-------- help css ----------*/

#help {
    padding: 50px 0;
}

#help .col-12 .d-flex {
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    border-radius: 20px;
    padding: 16px 29px;
    margin-bottom: 24px;
}

#help .d-flex img:nth-child(1) {
    padding: 13px;
    background-color: #55852F;
    border-radius: 50%;

}

#help .col-12:nth-child(2) img {
    background-color: #FED62A;

}

#help .col-12:nth-child(3) img {
    background-color: #FF8D3A;

}

#help .d-flex .details {
    padding-left: 18px;
}

#help .d-flex .details h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    color: #353535;
}

#help .d-flex .details p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 180%;
    color: #353535;
    margin-bottom: 0;
}

#help .col-xl-7 .contains {
    text-align: right;
}

#help .col-xl-7 .contains h4 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    text-align: right;
    color: #353535;
    margin-bottom: 26px;
}

#help .col-xl-7 .contains p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 190%;
    text-align: right;
    color: #353535;
}


#help .project {
    margin-top: 30px;
}

#help .project .d-flex .col-xl-3 p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
    color: #353535;
    margin-top: 9px;
    text-align: right;
}

#help .project .d-flex .col-xl-3 h4 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 40px;
    text-align: right;
    color: #353535;
}

#help .project .d-flex .col-xl-3:last-child {
    padding-left: 40px;
}


#help .project .d-flex {
    text-align: right;
}


/*-------- help css ----------*/

/*-------- experience css  ----------*/

#experience 
{
    padding: 20px 0 50px 0;
}

#experience .heading h4 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #353535;
    margin-bottom: 90px;
}

#experience .row .col-xl-3 h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 180%;
    color: #353535;
}

#experience .row .col-xl-3 p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #7a7a7a;
}

#experience .row .col-xl-6 p 
{
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 200%;
color: #7a7a7a;
}

#experience .row .col-xl-6 h4
{
    font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 180%;
color: #353535;
}


#experience .row .title 
{
    position: relative;
    padding-bottom: 100px;
}

#experience .row .title::before 
{
    content: "";
    position: absolute;
    stroke-width: 2px;
    height: 42px;
    width: 42px;
    border: 2px dashed #7A7A7A ;
    border-radius: 50%;
    top: -1px;
    right: -173px;
    background: #fff;
    z-index: 2;
}

#experience .row .title::after
{
    content: "";
    position: absolute;
    height: 21px;
    width: 21px;
    background: #52AB70 ;
    top: 10px;
    right: -163px;
    border-radius: 50%;
    z-index: 3;
} 

#experience .service .title::after 
{
    background: #F17676;
}

#experience .solution .title::after
{
    background: #FFD233;
} 

#experience .line
{
    position: absolute;
    width: 2px;
    height: 100%;
    border-right: 2px dashed #7a7a7a; 
    top: 0;
    right: -154px;
    
}


/*-------- experience css  ----------*/

/*-------- expert css ----------*/
#expert 
{
    padding: 50px 0;
}

#expert .details h4 
{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    color: #353535;
    margin-bottom: 49px;
}

#expert .details p
{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #7a7a7a;
    margin-bottom: 14px;
}



#expert .details a 
{
    margin-top: 39px;
    background: #fc0;
    border-radius: 12px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 180%;
color: #fff;
padding: 10px 21px;
display: inline-flex;
text-decoration: none;
} 

#expert .details a:hover 
{
    color: black;
    outline: 1px solid #fc0;
    background: #fff;
}

#expert .details a span 
{
    display: inline-flex;
    line-height: 0;
    align-items: center;

}



#expert .skills .links-select
{
    font-family: var(--font-family);
font-weight: 500;
font-size: 18px;
line-height: 180%;
text-align: center;
color: #353535;
padding: 16px 64px;
margin-right: 15px;
}

#expert .skills .links-select:hover 
{
    outline: 1px solid black;
    border-radius: 20px;
    background: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
    background-color: #fff ;
    outline: 1px solid black;
    border-radius: 20px;
}


#expert .skills-list
{
    padding-top: 10px;
}



#expert .skills-list li 
{
    font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
line-height: 180%;
color: #353535;
padding: 17px 25px;


} 

#expert .skills-list li:nth-child(4)
{
    color: #234bda;
}
#expert .skills-list li:nth-child(3)
{
    color: #700d60;
}

#expert .skills .contains h4 
{
    font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
line-height: 180%;
color: #353535;
margin-top: 40px;
margin-bottom: 11px;
}

#expert .skills .figma-bar 
{
    background: #f16500;
    
}

#expert .skills .photoshop-bar
{
    background: #03249B;
} 

#expert .skills .xd-bar
{
    background-color: #700d60;
}

#expert .skills .illustrator-bar
{
    background-color: #234bda;
}

#expert .skills .contains .illustrator
{
    
    font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
line-height: 180%;
color: #234bda;
}

#expert .skills .contains .xd 
{
    color: #700d60;
    font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
line-height: 180%;

}

#expert .skills .contains .illustrator-progress
{
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 180%;
text-align: right;
color: #234bda;
padding-right: 160px;
}


#expert .skills .contains .xd-progress
{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: right;
    color: #700d60;
    padding-right: 108px;
}


#expert .skills .contains .photoshop-progress
{
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 180%;
text-align: right;
color: #03249b;
padding-right: 130px;
}
#expert .skills .contains .num-progress
{
    
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: right;
    color: #f16500;
    margin-bottom: 0;
    padding-right: 80px;
}

/* =====  expert css =======  */